<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="scripts.js"></script>
        <title>Schönes Glas Optik</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <div class="bannerContent">
            <img
                class="bg-image-glasses"
                src="media/brille_banner.jpg"
                alt=""
            />
        </div>
        <div
            class="px-4 py-1 my-1 text-center"
            style="background-color: black; margin-bottom: 100px"
        >
            <img
                class="d-block mx-auto mb-4"
                src="media\SchöneGlas.png"
                alt=""
                width="400"
                height="400"
            />
            <h1 class="display-5 fw-bold">Das Unternehmen</h1>
            <div class="col-lg-6 mx-auto" style="margin-bottom: 100px">
                <p class="lead mb-4">
                    SchöneGlas verkauft Brillen und bietet Dienstleistunden an.
                    Um mehr über unser Unternehmen zu erfahren, Folgen die dem
                    Link
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button
                        type="button"
                        class="btn btn-primary btn-lg px-4 gap-3"
                        onclick="location.href='/about';"
                    >
                        Über Uns
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
