<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="scripts.js"></script>
        <title>Dienstleistungen</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <br />
        <main>

            <section class="py-5 text-center container bg-image" style="background-image: url("media\harry_mit_stab.jpg");">
              <div class="row py-lg-5" >
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Dienstleistungen</h1>
                  <p class="lead text-muted">Die Augen sind ein wichtiges Sinnesorgan. Wenn das Sehen beeinträchtigt ist, fehlen oder verzerren wichtige Eindrücke. Entdecken sie unsere verschiedenen Dienstleistungen um ihre Augen zu schützen und zu korrigieren.</p>
                  <p>
                    <a href="#" class="btn btn-primary my-2" onclick="location.href='/';">Home</a>
                    <a href="#" class="btn btn-secondary my-2" onclick="location.href='/products';">Produkte</a>
                  </p>
                </div>
              </div>
            </section>
          
            <div class="album  bg-black" >
              <div class="container-fluid" margin-bottom: 5%;>
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\Kundenberatung-Augenoptik.jpg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Eine Augenprüfung (Refraktion) dient dazu, die Korrektionswerte für Ihre Brille oder Kontaktlinsen zu ermitteln. Mittels einer Refraktions-Einheit werden optische Linsen mit verschiedenen Stärken von Ihnen beurteilt.</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\heftige_gerät.jpg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Eine Augenprüfung (Refraktion) dient dazu, die Korrektionswerte für Ihre Brille oder Kontaktlinsen zu ermitteln. Mittels einer Refraktions-Einheit werden optische Linsen mit verschiedenen Stärken von Ihnen beurteilt.</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\kind_guckt_böse.jpg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Eine Augenprüfung (Refraktion) dient dazu, die Korrektionswerte für Ihre Brille oder Kontaktlinsen zu ermitteln. Mittels einer Refraktions-Einheit werden optische Linsen mit verschiedenen Stärken von Ihnen beurteilt.</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\pov_duBist40.jpg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Eine Augenprüfung (Refraktion) dient dazu, die Korrektionswerte für Ihre Brille oder Kontaktlinsen zu ermitteln. Wie unterstützen sie in jeder Altergruppe, von Kleinind bis älterere Menschen. Wir bieten verschiedene Größen</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="album  bg-black" >
<div class="container-fluid" style="background-color: black; margin-top: 5%; ">
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\pov_du_bist_blind.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Auch beim Thema Sonnenbrille sind Sie bei pro optik genau richtig! Schon lange werden Sonnenbrillen nicht nur zum Schutz für die Augen getragen, sondern sind auch die perfekten Trend-Accessoires! </p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\brillen_an_der_wand.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Auch beim Thema Sonnenbrille sind Sie bei pro optik genau richtig! Schon lange werden Sonnenbrillen nicht nur zum Schutz für die Augen getragen, sondern sind auch die perfekten Trend-Accessoires!</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\brillen_an_der_wand.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Auch beim Thema Sonnenbrille sind Sie bei pro optik genau richtig! Schon lange werden Sonnenbrillen nicht nur zum Schutz für die Augen getragen, sondern sind auch die perfekten Trend-Accessoires!</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col">
                   <div class="card shadow-sm">
                      <img class="img-responsive" width="100%" height="auto" src="media\pov_du_bist_blind.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
          
                      <div class="card-body bg-dark">
                        <p class="card-text" style="color: white;">Auch beim Thema Sonnenbrille sind Sie bei pro optik genau richtig! Schon lange werden Sonnenbrillen nicht nur zum Schutz für die Augen getragen, sondern sind auch die perfekten Trend-Accessoires!</p>
                        <div class="d-flex justify-content-between align-items-center bg-dark">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
        <%- include('../components/footer'); %>
    </body>   
</html>
