<footer class="sgFooter text-center text-lg-start footer mt-auto bg-dark">
    <!-- Grid container -->
    <div class="container p-3">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Provided by EFI222</h5>
                <a href="https://www.elektronikschule.de/">
                    <p>EFI222 Elektronikschule Tettnang</p></a
                >
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Impressum</h5>

                <p>
                    <a class="text-light" href="/impressum">Hier Klicken</a>
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #050505">
        © 2023 Copyright:
        <a class="text-light" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            >SkyRyll.com</a
        >
        /
        <a class="text-light" href="https://www.youtube.com/watch?v=d1YBv2mWll0"
            >Niki28.de</a
        >
    </div>
    <!-- Copyright -->
</footer>
